In [1]:
import pandas as pd
import numpy as np
import tkinter as tk
from tkinter import filedialog
from datetime import datetime
import xlsxwriter as xl
import re

#sport = "NHL"
sport = "NBA"

In [2]:
def print_current_df(dataframe):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
        display(dataframe)

In [3]:
original_df = pd.read_csv(f'{sport}_June_5.csv')
original_df

,ID,First Name,Last Name,Position,Team,Opponent,Game,Time,Salary,FPPG,Injury Status,Starting
0,nba.p.4163,P.J.,Tucker,PF,MIL,BKN,MIL@BKN,7:30PM EDT,10,12.5,,
1,nba.p.4472,Brook,Lopez,C,MIL,BKN,MIL@BKN,7:30PM EDT,19,24.7,,
2,nba.p.4622,Jrue,Holiday,PG,MIL,BKN,MIL@BKN,7:30PM EDT,34,37.2,,
3,nba.p.4624,Jeff,Teague,PG,MIL,BKN,MIL@BKN,7:30PM EDT,10,13.3,,
4,nba.p.5073,Khris,Middleton,SF,MIL,BKN,MIL@BKN,7:30PM EDT,30,36.6,,
5,nba.p.5185,Giannis,Antetokounmpo,PF,MIL,BKN,MIL@BKN,7:30PM EDT,55,54.1,,
6,nba.p.5362,Thanasis,Antetokounmpo,SF,MIL,BKN,MIL@BKN,7:30PM EDT,10,7.7,INJ,
7,nba.p.5482,Bobby,Portis,C,MIL,BKN,MIL@BKN,7:30PM EDT,13,24.0,,
8,nba.p.5501,Pat,Connaughton,SF,MIL,BKN,MIL@BKN,7:30PM EDT,10,16.7,,
9,nba.p.5528,Axel,Toupane,SG,MIL,BKN,MIL@BKN,7:30PM EDT,10,4.5,,
10,nba.p.5726,Bryn,Forbes,SG,MIL,BKN,MIL@BKN,7:30PM EDT,10,13.6,,
11,nba.p.5828,Justin,Jackson,SF,MIL,BKN,MIL@BKN,7:30PM EDT,10,12.4,,
12,nba.p.6028,Donte,DiVincenzo,SG,MIL,BKN,MIL@BKN,7:30PM EDT,10,24.1,INJ,
13,nba.p.6437,Jordan,Nwora,SF,MIL,BKN,MIL@BKN,7:30PM EDT,10,9.7,,
14,nba.p.6452,Sam,Merrill,SG,MIL,BKN,MIL@BKN,7:30PM EDT,10,5.6,,
15,nba.p.6456,Mamadi,Diakite,SF,MIL,BKN,MIL@BKN,7:30PM EDT,10,8.6,,
16,nba.p.6510,Elijah,Bryant,SG,MIL,BKN,MIL@BKN,7:30PM EDT,10,9.7,,
17,nba.p.4244,Kevin,Durant,SF,BKN,MIL,MIL@BKN,7:30PM EDT,48,47.3,,
18,nba.p.4247,Jeff,Green,PF,BKN,MIL,MIL@BKN,7:30PM EDT,13,19.8,INJ,
19,nba.p.4497,DeAndre,Jordan,C,BKN,MIL,MIL@BKN,7:30PM EDT,10,21.6,,
20,nba.p.4561,Blake,Griffin,PF,BKN,MIL,MIL@BKN,7:30PM EDT,10,22.4,,
21,nba.p.4563,James,Harden,PG,BKN,MIL,MIL@BKN,7:30PM EDT,53,52.9,,
22,nba.p.4840,Kyrie,Irving,SG,BKN,MIL,MIL@BKN,7:30PM EDT,39,44.9,,
23,nba.p.5344,Joe,Harris,SF,BKN,MIL,MIL@BKN,7:30PM EDT,17,23.0,,
24,nba.p.5349,Spencer,Dinwiddie,PG,BKN,MIL,MIL@BKN,7:30PM EDT,10,17.7,INJ,
25,nba.p.5376,Tyler,Johnson,PG,BKN,MIL,MIL@BKN,7:30PM EDT,10,9.7,,
26,nba.p.5655,Timothe,Luwawu-Cabarrot,SF,BKN,MIL,MIL@BKN,7:30PM EDT,10,11.5,,
27,nba.p.5874,Mike,James,PG,BKN,MIL,MIL@BKN,7:30PM EDT,10,14.2,,
28,nba.p.6037,Landry,Shamet,SG,BKN,MIL,MIL@BKN,7:30PM EDT,10,14.6,,
29,nba.p.6053,Bruce,Brown,SF,BKN,MIL,MIL@BKN,7:30PM EDT,11,20.7,,
30,nba.p.6061,Alize,Johnson,PF,BKN,MIL,MIL@BKN,7:30PM EDT,10,13.3,GTD,
31,nba.p.6119,Chris,Chiozza,PG,BKN,MIL,MIL@BKN,7:30PM EDT,10,9.7,,
32,nba.p.6219,Nicolas,Claxton,C,BKN,MIL,MIL@BKN,7:30PM EDT,10,18.7,,
33,nba.p.6449,Reggie,Perry,C,BKN,MIL,MIL@BKN,7:30PM EDT,10,7.9,,

In [4]:
if sport == "NHL":
    df = original_df[['Position', 'Team' ,'Opponent','FPPG','Salary','Injury Status','Starting']].copy()
    df.insert(1, 'Name',original_df["First Name"] + ' ' + original_df["Last Name"])
    df['Value'] = df['FPPG']/df['Salary']
else:
    number_of_teams = len(original_df['Team'].value_counts())
    if(number_of_teams == 2):
        df = original_df[['FPPG','Salary']]
        df.insert(0, 'Name',original_df["First Name"] + ' ' + original_df["Last Name"])
    else:    
        df = original_df[['Position', 'Team', 'Opponent','FPPG','Salary']]
        df.insert(loc=1, column='Pos', value=0)
        conditions = [
            (df['Position'] == 'PG'),
            (df['Position'] == 'SG'),
            (df['Position'] == 'SF'),
            (df['Position'] == 'PF'),
            (df['Position'] == 'C')
        ]
        values = [1, 2, 3, 4, 5]
        df.loc[:,'Pos'] = np.select(conditions, values)
        df.head()
        df.insert(4, 'Name',original_df["First Name"] + ' ' + original_df["Last Name"])


print_current_df(df)

                       Name  FPPG  Salary
0               P.J. Tucker  12.5      10
1               Brook Lopez  24.7      19
2              Jrue Holiday  37.2      34
3               Jeff Teague  13.3      10
4           Khris Middleton  36.6      30
5     Giannis Antetokounmpo  54.1      55
6    Thanasis Antetokounmpo   7.7      10
7              Bobby Portis  24.0      13
8           Pat Connaughton  16.7      10
9              Axel Toupane   4.5      10
10              Bryn Forbes  13.6      10
11           Justin Jackson  12.4      10
12         Donte DiVincenzo  24.1      10
13             Jordan Nwora   9.7      10
14              Sam Merrill   5.6      10
15           Mamadi Diakite   8.6      10
16            Elijah Bryant   9.7      10
17             Kevin Durant  47.3      48
18               Jeff Green  19.8      13
19           DeAndre Jordan  21.6      10
20            Blake Griffin  22.4      10
21             James Harden  52.9      53
22             Kyrie Irving  44.9      39
23               Joe Harris  23.0      17
24        Spencer Dinwiddie  17.7      10
25            Tyler Johnson   9.7      10
26  Timothe Luwawu-Cabarrot  11.5      10
27               Mike James  14.2      10
28            Landry Shamet  14.6      10
29              Bruce Brown  20.7      11
30            Alize Johnson  13.3      10
31            Chris Chiozza   9.7      10
32          Nicolas Claxton  18.7      10
33             Reggie Perry   7.9      10

In [5]:
if sport == 'NHL': 
    dt = datetime.now()
    today = dt.strftime("%d-%m-%Y")
    file_name = f'{sport}_output_data_{today}.xlsx'
    # Create a Pandas Excel writer using XlsxWriter as the engine.
    writer = pd.ExcelWriter(file_name, engine='xlsxwriter')

    # Convert the dataframe to an XlsxWriter Excel object. Turn off the default
    # header and index and skip one row to allow us to insert a user defined
    # header.

    df.to_excel (writer, index = False, header=True, sheet_name = "Sheet1")

    # Get the xlsxwriter workbook and worksheet objects.
    workbook = writer.book
    worksheet = writer.sheets['Sheet1']

    # Get the dimensions of the dataframe.
    (max_row, max_col) = df.shape

    # Create a list of column headers, to use in add_table().
    column_settings = []
    for header in df.columns:
        column_settings.append({'header': header})

    # Add the table.
    worksheet.add_table(0, 0, max_row, max_col - 1, {'columns': column_settings})

    # Make the columns wider for clarity.
    worksheet.set_column(0, max_col - 1, 12)


    #if sport == 'NHL': 
    superstar_df = df.loc[df['Salary'] > 18]
    superstar_df.to_excel (writer, index = False, header=True, sheet_name = "Superstars")
    worksheet2 = writer.sheets['Superstars']

    (max_row, max_col) = df.shape
    print_current_df(superstar_df)
    worksheet2.add_table(0, 0, max_row, max_col - 1, {'columns': column_settings})

    # Make the columns wider for clarity.
    worksheet2.set_column(0, max_col - 1, 12)

    # Close the Pandas Excel writer and output the Excel file.
    writer.close()

### Interface

In [8]:
def add_to_lineup(df, player_df, name):
    #if player_df['Name'].str.lower().str.contains(name).any() != True:
    #if player_df['Name'].str.contains("(?i)"+name).any() != True:
    if player_df['Name'].str.contains(name).any() != True:
        player_df = player_df.append(df.loc[df['Name'] == name])
    else:
        print(name + " is already in list")    
    return player_df

def add_valid_names(df, player_df, names):
    
    return player_df

In [9]:
player_df= pd.DataFrame(columns = df.columns)

player_df['Worst'] = ' '
player_df['Best'] = ' '
player_df['Probable'] = ' '
player_df['Actual'] = ' '

In [10]:
## Trying to lower case
# query = 'donovan mitchell, Alec Burks'
# names = [x.strip() for x in query.split(',')]
# for name in names:
#     if df['Name'].str.contains(name).any():
#         player_df = add_to_lineup(df,player_df,name)    
#     else:
#         print(name + " is not in the list. Please try again")
# print_current_df(player_df)

In [11]:
df2 = df.sort_values(by=['Salary'], ascending = False)
for name in df2['Name']:
    print(name, end = ", ")

Giannis Antetokounmpo, James Harden, Kevin Durant, Kyrie Irving, Jrue Holiday, Khris Middleton, Brook Lopez, Joe Harris, Jeff Green, Bobby Portis, Bruce Brown, Nicolas Claxton, Spencer Dinwiddie, Mike James, Tyler Johnson, Timothe Luwawu-Cabarrot, Blake Griffin, Alize Johnson, Chris Chiozza, Landry Shamet, P.J. Tucker, DeAndre Jordan, Elijah Bryant, Mamadi Diakite, Sam Merrill, Jordan Nwora, Donte DiVincenzo, Justin Jackson, Bryn Forbes, Axel Toupane, Pat Connaughton, Thanasis Antetokounmpo, Jeff Teague, Reggie Perry,

In [12]:

exit = False

while exit!=True:
    query = input('Name Of Player:')
    if query != 'exit':
        names = [x.strip() for x in query.split(',')]
        for name in names:
            if df['Name'].str.contains(name).any():
                player_df = add_to_lineup(df,player_df,name)    
            else:
                print(name + " is not in the list. Please try again")
        print_current_df(player_df)
       
    else:
        exit = True
player_df = player_df.replace(np.nan, '', regex=True)
player_df

Name Of Player:exit

Empty DataFrame
Columns: [Name, FPPG, Salary, Worst, Best, Probable, Actual]
Index: []

In [ ]:
dt = datetime.now()
now = dt.strftime("%d-%m-%Y %H_%M")

file_name = f'lineup_{now}.xlsx'
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(file_name, engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object. Turn off the default
# header and index and skip one row to allow us to insert a user defined
# header.

player_df.to_excel (writer, index = False, header=True)

# Get the xlsxwriter workbook and worksheet objects.
workbook = writer.book
worksheet = writer.sheets['Sheet1']

# Get the dimensions of the dataframe.
(max_row, max_col) = player_df.shape

# Create a list of column headers, to use in add_table().
column_settings = []
for header in player_df.columns:
    column_settings.append({'header': header})

# Add the table.
worksheet.add_table(0, 0, max_row, max_col - 1, {'columns': column_settings})

# Make the columns wider for clarity.
worksheet.set_column(0, max_col - 1, 12)

# Close the Pandas Excel writer and output the Excel file.
writer.close()

In [7]:
player_df['Name']
for name in player_df['Name']:
    print(name, end = ", ")

NameError: name 'player_df' is not defined

In [13]:
file_name = 'lineup_04-06-2021 22_50.xlsx'
filled_df= pd.read_excel(file_name)  

print_current_df(filled_df)

,Name,FPPG,Salary,Worst,Best,Probable,Actual,Deviation,Value,Actual Val
0,Giannis Antetokounmpo,54.1,55,45,65,55.0,NaN,-55.0,1.000000,0
1,James Harden,52.9,53,45,70,57.5,NaN,-57.5,1.084906,0
2,Kevin Durant,47.3,48,45,65,55.0,NaN,-55.0,1.145833,0
3,Kyrie Irving,44.9,39,30,60,45.0,NaN,-45.0,1.153846,0
4,Jrue Holiday,37.2,34,35,45,40.0,NaN,-40.0,1.176471,0
5,Khris Middleton,36.6,30,30,45,35.0,NaN,-35.0,1.166667,0
6,Brook Lopez,24.7,19,20,35,27.5,NaN,-27.5,1.447368,0
7,Joe Harris,23.0,17,15,40,25.0,NaN,-25.0,1.470588,0
8,Bobby Portis,24.0,13,15,25,20.0,NaN,-20.0,1.538462,0
9,Bruce Brown,20.7,11,10,30,25.0,NaN,-25.0,2.272727,0
10,Bryn Forbes,13.6,10,15,30,25.0,NaN,-25.0,2.500000,0
11,P.J. Tucker,12.5,10,10,25,15.0,NaN,-15.0,1.500000,0